// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Source+Sans+Pro:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Merriweather:wght@400;700;900&display=swap");

$primary-font: "Merriweather", serif;
$secondary-font: "Merriweather Sans", sans-serif;
$primary-color: #881c1c;
$primary-color-darker: #a30000;
$base-color: #000000;
$red-gradient: linear-gradient(to right, #a30000, #f44708);
$red-gradient-transparent: linear-gradient(
  to right,
  rgba(163, 0, 0, 0.35),
  rgba(244, 71, 8, 0.35)
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: $primary-font;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

::selection {
  color: #fff;
  background-color: $primary-color-darker;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  color: #222;
  font-weight: 900;
  font-size: 8.6rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  text-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.08);
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 8rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.container {
  /* Page width convention: 1200 | 1140 px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

/* .grid:last-child {
  ==> if grid is the last item, marbottom = 0 
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--1--cols {
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

/* ************************************** */
/*     HEADER     */
/* ************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.8);

  /* for sticky nav bar */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo:link,
.logo:visited {
  font-family: $primary-font;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  color: $primary-color-darker;
  transition: all 0.3s;
}

.logo:hover,
.logo:active {
  color: #fff;
}

/* ************************************** */
/*     NAV BAR     */
/* ************************************** */

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
  transform: translateY(12%);
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: $primary-color;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: $primary-color;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: $primary-color-darker;
}

/* MOBILE NAV BAR */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAV BAR */
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

// /* STICKY NAV BAR WITH JS ACTIVE*/
// .sticky .header {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   height: 8rem;
//   padding-top: 0;
//   padding-bottom: 0;
//   z-index: 9999;
//   background-color: rgba(255, 255, 255, 0.97);
//   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
// }

// /* Should be applied when sticky is right on the header */
// .sticky .section-hero {
//   margin-top: 9.6rem;
// }

/* ************************************** */
/*     HERO SECTION     */
/* ************************************** */
.section-hero {
  background-image: $red-gradient-transparent,
    linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.5)),
    url(../assets/umass-empty.jpg);
  background-size: cover;
  height: 100vh;
  padding: 4.8rem 0 9.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 7rem;
}

.hero {
  padding: 0 9.6rem;
  // transform: translateY(-30%);
}

.hero-description-1 {
  font-weight: 700;
  max-width: 39rem;
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: $primary-color;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.hero-description-2 {
  max-width: 67rem;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.hero-description-3 {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.4;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.06);
}

/* ************************************** */
/*     HISTORY SECTION     */
/* ************************************** */

.section-history {
  padding: 9.6rem 0;
}

.history-text-box,
.more-text-box,
.motivation-text-box,
.cta-text-box {
  font-size: 1.8rem;
  line-height: 1.8;
}

.history-img-box span,
.motivation-img-box span {
  color: #868e96;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

/* ************************************** */
/*     GALLERY SECTION     */
/* ************************************** */

.section-gallery {
  padding-top: 8rem;
  background-color: #e9ecef;
}

.center-text {
  text-align: center;
}

.gallery-heading {
  margin-bottom: 4.8rem;
}

.gallery-subheading {
  text-transform: none;
}

.gallery-roll {
  width: 100%;
  overflow: auto;
  display: flex;
  padding: 5rem 0;
}

.gallery-roll-box {
  height: 50rem;
  margin-left: 2.4rem;
  margin-bottom: 3.2rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.gallery-img {
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.1);
  height: 40rem;
  display: block;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.05);
}

.gallery-item {
  position: relative;
}

.gallery-item:last-child {
  margin-right: 3.2rem;
}

.gallery-item span {
  font-size: 1.6rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #ddd;
}
::-webkit-scrollbar-thumb:horizontal {
  background: $primary-color;
  border-radius: 10px;
}
::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #bbb;
}

/* ************************************** */
/*     SEE MORE SECTION     */
/* ************************************** */
.section-more {
  padding: 9.6rem 0;
}

.link:link,
.link:visited {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: $primary-color-darker;
  border-bottom: 1px solid transparent;
}

/* ************************************** */
/*     MOTIVATION SECTION     */
/* ************************************** */
.section-motivation {
  padding: 9.6rem 0;
}

.motivation-img-box {
  display: flex;
  flex-direction: column;
}

/* ************************************** */
/*     PREORDER SECTION     */
/* ************************************** */
.section-cta {
  padding: 9.6rem 0;
}

.cta-text-box {
  margin-bottom: 8rem;
}

.cta-link:link,
.cta-link:visited {
  color: $primary-color;
  transition: all 0.3s;
}

.cta-link:hover,
.cta-link:active {
  color: $primary-color-darker;
}

.btn-order:link,
.btn-order:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  padding: 2.4rem 4.8rem;
  width: 100%;
  text-align: center;
  justify-self: center;
  color: #fff;
  background-color: $primary-color;
  transition: all 300ms;
}

.btn-order:hover,
.btn-order:active {
  background-color: $primary-color-darker;
}

/* ************************************** */
/*     FOOTER     */
/* ************************************** */

.footer {
  padding: 5rem 0;
  border-top: 1px solid rgb(231, 231, 231);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.footer-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.icon {
  color: #888;
  margin: 1.5rem;
  font-size: 2.4rem;
}

/* ************************************** */
/*   MEDIA QUERIES    */
/* ************************************** */
@media (max-width: 53em) {
  .grid--2--cols {
    grid-template-columns: 1fr;
    row-gap: 3.4rem;
  }

  .history-text-box {
    margin-bottom: 4rem;
  }

  .history-img-box:nth-child(2) {
    grid-row: 1;
  }

  .history-img-box:nth-child(6) {
    grid-row: 5;
  }

  .logo:link {
    font-size: 2.4rem;
  }

  .main-nav-link:link {
    font-size: 1.6rem;
  }
}

@media (max-width: 41em) {
  .heading-primary {
    font-size: 7.4rem;
  }

  .hero-description-1 {
    font-size: 2rem;
  }

  .hero-description-2 {
    font-size: 1.6rem;
  }

  .hero-description-3 {
    font-size: 1.4rem;
  }

  .logo:link {
    font-size: 2rem;
  }

  .main-nav-link:link {
    font-size: 1.4rem;
  }

  .main-nav-list {
    gap: 2rem;
  }
}

@media (max-width: 36em) {
  .hero {
    padding: 0 4rem;
  }
}

/* ************************************** */ /* FIXING SAFARI FLEXBOX GAP */ /* ************************************** */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}

// .app {
//   max-width: 100px;
//   width: 20%;
//   margin: 100px auto;
//   box-shadow: 0 0 5px #ccc;
// }

// .navbar {
//   padding: 20px;
// }

// .navbar-brand,
// .nav-link {
//   font-family: $primary-font;
//   color: white !important;
// }

// .navbar-brand {
//   font-weight: 700;
// }

// .nav-link {
//   margin-left: 8px;
//   margin-right: 8px;
//   font-weight: 700;
//   &:hover {
//     text-decoration: underline;
//   }
// }

// .details {
//   display: flex;
//   justify-content: space-evenly;
//   flex-wrap: wrap;
//   padding: 30px 0;
//   position: relative;
// }

// .details .big-img {
//   margin-top: 40px;
//   margin-bottom: 50px;
//   max-width: 600px;
//   min-width: 290px;
//   max-height: 550px;
//   overflow: hidden;
//   filter: drop-shadow(8px 8px 10px rgb(53, 53, 53));
// }

// .big-img img {
//   width: 100%;
//   height: 100%;
//   max-height: 550px;
//   display: flex;
//   object-fit: cover;
// }

// .details .box {
//   max-width: 500px;
//   min-width: 290px;
//   height: 66.5vh;
//   background: gray;
//   opacity: 70%;
//   margin: 0;
//   background: whitesmoke;
//   padding: 1em;
//   border-radius: 0.5em;
// }
// .box .row {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 15px;
// }
// .box .row h2 {
//   text-transform: uppercase;
//   letter-spacing: 2px;
// }
// .box .row span {
//   color: crimson;
// }

// .box .colors button {
//   width: 30px;
//   height: 30px;
//   border: 1px solid #333;
//   outline: none;
//   margin-right: 5px;
//   cursor: pointer;
// }

// .box p {
//   line-height: 1.5;
//   // margin: 15px 0;
// }
// .thumb {
//   width: 100%;
//   height: 100px;
//   display: flex;
//   cursor: pointer;
//   // margin: 10px 0;
// }
// .thumb img {
//   width: 90px;
//   height: 100%;
//   display: block;
//   object-fit: cover;
//   border: 1px solid #ddd;
//   margin-right: 5px;
//   opacity: 0.7;
//   border-radius: 5px;
// }

// .thumb img.active {
//   opacity: 1;
//   border: 1px solid lightseagreen;
// }
// .box .cart {
//   background: #333;
//   color: white;
//   outline: none;
//   border: none;
//   cursor: pointer;
//   padding: 10px 25px;
//   // margin-top: 15px;
// }

// .about-bg {
//   background-size: cover;
//   background-position: 50% 70%;
// }

// .bg-gradient {
//   background: $red-gradient;
// }

// .bg-gradient-transparent {
//   background: $red-gradient-transparent;
// }

// .copyright {
//   font-size: 14px;
//   font-family: $primary-font;
//   font-weight: 400;
//   color: rgba($color: white, $alpha: 0.7) !important;
//   margin: 0px;
//   padding: 0px;
// }

// .bg-image {
//   opacity: 0.95;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   filter: brightness(50%) sepia(40%) grayscale(30%) saturate(150%);
// }

// .content {
//   position: relative;
//   z-index: 1;
// }

// .outer {
//   position: relative;
//   width: 100%;
// }
// .outer img {
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   right: 0;
//   bottom: 0;
//   object-fit: cover;
//   object-position: center;
// }

// // might be useless
// .footer-wrapper {
//   position: relative;
//   bottom: 0;
//   display: block;
//   width: 100%;
//   z-index: -100;
// }

// .content-wrap {
//   padding-bottom: 10em;
// }

// .footer {
//   background-color: $primary-color;
//   color: white;
//   position: relative;

//   .nav-link {
//     font-size: 14px;
//     font-family: $primary-font;
//     font-weight: 400;
//     color: rgba($color: white, $alpha: 0.7) !important;
//     margin: 0px;
//     padding: 0px;
//     text-decoration: none !important;

//     .footer-heading {
//       color: rgba($color: white, $alpha: 1) !important;
//       font-size: 16px;
//       font-weight: 700;
//       // margin-bottom: 8px;
//     }
//   }
// }

// @media only screen and (min-width: 640px) {
//   .footer-col {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;

//     margin-bottom: 10px;
//   }
// }

// @media only screen and (min-width: 1024px) {
//   .thumb {
//     height: 50px;
//   }
//   .thumb img {
//     width: 50px;
//   }
// }

// .icon {
//   color: white;
//   margin: 10px;
// }

// .padding3 {
//   padding-top: 2.5em;
//   padding-bottom: 2em;
// }

// .pg-heading {
//   color: white;
// }

// .margin-bottom2 {
//   margin-bottom: 5px;
// }

// .history-box {
//   position: relative;
//   margin: 50px;
// }

// .intro {
//   position: relative;
//   color: white;
//   text-align: center;
// }

// .quote {
//   margin: 0;
//   background: whitesmoke;
//   padding: 1em;
//   border-radius: 0.5em;
//   opacity: 70%;
//   margin: 0px 6%;
// }

// .quote blockquote,
// .quote figcaption {
//   // max-width: 60%;
//   color: black;
//   // text-align: left;
//   // padding: 10px;
//   // margin:0 auto;
//   // margin-top: 10px;
//   // width:auto;
//   // display:table
//   margin: 1em;
// }

// // body {
// //   font-family: $primary-font;
// // }

// .main-text {
//   color: black;
// }

// .history-row {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 30px 0;
//   justify-items: center;
//   align-items: center;
// }

// .history-row > * {
//   flex: 1 1 160px;
// }

// .copy-img {
//   max-width: 300px;
//   filter: drop-shadow(8px 8px 10px rgb(53, 51, 51));
//   text-align: center;
// }
